.DS_Store
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.nuxt/
.output/
node_modules/
dist/
.venv/
venv/
env/
backend/.env
backend/.tmp/
backend/.vendor/
backend/.venv/
frontend/.env
backend/db.sqlite3
